"""
   Reservoir(; name, p0)

## Parameters: 

| Name         | Description                         | Units  |   Default value |
| ------------ | ----------------------------------- | ------ | --------------- |
| \`p0\`         |                          | Pa  |    |

## Connectors

 * \`port\` - ([\`HydraulicPort\`](@ref))

## Variables

| Name         | Description                         | Units  | 
| ------------ | ----------------------------------- | ------ | 
| \`rho\`         |                          | kg/m3  | 
"""
@component function Reservoir(; name, p0=nothing, continuity__graph0)
  params = @parameters begin
    (p0::Float64 = p0)
    (rho0::Float64 = density(port__medium, p0))
    (port__medium::MediumModel = continuity__graph0)
  end
  vars = @variables begin
    (rho(t))
  end
  systems = @named begin
    port = CommonTests.HydraulicPort()
  end
  defaults = Dict([
  ])
  eqs = Equation[
    # This equation is here just to reference common variables on the connector
    rho ~ density(port__medium, port.p)
    port.p ~ p0
  ]
  return ODESystem(eqs, t, vars, params; systems, defaults, name)
end
export Reservoir
Base.show(io::IO, a::MIME"image/svg+xml", t::typeof(Reservoir)) = print(io,
  """<div style="height: 100%; width: 100%; background-color: white"><div style="margin: auto; height: 500px; width: 500px; padding: 200px"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000"
    overflow="visible" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
      <defs>
        <filter id='red-shadow' color-interpolation-filters="sRGB"><feDropShadow dx="0" dy="0" stdDeviation="100" flood-color="#ff0000" flood-opacity="0.5"/></filter>
        <filter id='green-shadow' color-interpolation-filters="sRGB"><feDropShadow dx="0" dy="0" stdDeviation="100" flood-color="#00ff00" flood-opacity="0.5"/></filter>
        <filter id='blue-shadow' color-interpolation-filters="sRGB"><feDropShadow dx="0" dy="0" stdDeviation="100" flood-color="#0000ff" flood-opacity="0.5"/></filter>
        <filter id='drop-shadow' color-interpolation-filters="sRGB"><feDropShadow dx="0" dy="0" stdDeviation="40" flood-opacity="0.5"/></filter>
      </defs>
    
      </svg></div></div>""")